:root {
    --pid-0-color: #e91e63;
    --pid-1-color: #03a9f4; 

    --pid-0-highlight: #e91e6377;
    --pid-1-highlight: #03a9f477; 

    --tiebreak-color: #ffb300;
    --tiebreak-highlight: #ffb30077;
}

/* global style applied to everyting */
html * {
    font-family: 'Lemon/Milk', sans-serif;
    word-wrap: break-word;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    font-size: 1.5rem;
    text-align: center;    
    align-items: center;                  
}

.setlist {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    background-color: #ffffff;
    border-spacing: 0.25rem;
}

.setlist  tr, td {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.setlist td {
    border-width: 0.5rem;
    border-color: #000000;
    border-style: solid;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
}

.setlist th {
    padding: 0.25rem;
    font-size: 1.5rem;
}

.setlist  p {
    margin: 0;
    padding: 0;
}


.song-box {
    position: relative;
    /* animation: player-1-selected-pulse 2s infinite; */
}

.song-title {
    font-size: 1rem;
}

.song-title > span {
    color: #ffb300;
}

.song-charter {
    font-size: 0.8rem;
    color: #bbbbbb;
}



div#pid_0_box:hover {
    background-color: #FFFFFF;
}

div#pid_1_box:hover {
    background-color: #FFFFFF;
}

td.pid-0-hover:hover {
    transition-duration: 0.25s;
    border-color: var(--pid-0-color) !important;
}


td.pid-1-hover:hover {
    transition-duration: 0.25s;
    border-color: var(--pid-1-color) !important;
}

div.pid-0-ban {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the song box) */
    height: 100%; /* Full height (cover the song box) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, transparent 48%, var(--pid-0-color) 48%, var(--pid-0-color) 52%, transparent 52%);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

td.pid-0-ban {
    border-color: var(--pid-0-color);
}

div.pid-1-ban {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the song box) */
    height: 100%; /* Full height (cover the song box) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, transparent 48%, var(--pid-1-color) 48%, var(--pid-1-color) 52%, transparent 52%);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

td.pid-1-ban {
    border-color: var(--pid-1-color);
}


td.tiebreak-song-pick {
    border-color: var(--tiebreak-color);
}

td.tiebreak-song-pulse {
    animation: tiebreak-pulse 1s infinite;
}

td.pid-0-pick {
    border-color: var(--pid-0-color);
    
}

td.pid-0-pulse {
    animation: pid-0-song-pulse 2s infinite;
}

td.pid-0-win {
    background-color: var(--pid-0-highlight);
}

td.pid-0-pick > div {
    position: absolute;
    top: 50%;
    left: 0;

    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid var(--pid-0-color);
    transform: translateY(-50%);
}

td.pid-0-pulse > div {
    animation: pid-0-select-pulse 2s infinite;
}

td.pid-0-pick > div > p {
    display: block;
    position: absolute;
    font-size: 1.25rem;

    text-align: center;
    width: 2rem;

    top: 0;
    left: -1.33rem;
    transform: translate(-50%, -50%);
}


td.pid-1-pick {
    border-color: var(--pid-1-color);
}

td.pid-1-pulse {
    animation: pid-1-song-pulse 2s infinite;
}

td.pid-1-win {
    background-color: var(--pid-1-highlight);
}

td.pid-1-pick > div {
    position: absolute;
    top: 50%;
    right: 0;

    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid var(--pid-1-color);
    transform: translateY(-50%);
}

td.pid-1-pulse > div {
    animation: pid-1-select-pulse 2s infinite;
}

td.pid-1-pick > div > p {
    display: block;
    position: absolute;
    font-size: 1.25rem;

    text-align: center;
    width: 2rem;

    top: 0;
    right: -1.33rem;
    transform: translate(50%, -50%);
}

.break-bar {
    background-color: #ffffff;
    height: 0.25em;
}

.song-button {
    background-color: Transparent;
    color: white;
    border: none;
}

svg {
    width: 16.5px;
    height: 16.5px;
}

.player-ban {
    text-decoration: line-through;
    text-decoration-thickness: 0.33em;
}

.pid-0-color {
    text-decoration-color: var(--pid-0-color);
    color: var(--pid-0-color);
    fill: var(--pid-0-color);
}
.pid-1-color {
    text-decoration-color: var(--pid-1-color);
    color: var(--pid-1-color);
    fill: var(--pid-1-color);
}
.player-defend-color {
    color: #19e619;
    fill: #19e619;
}
.player-steal-color {
    color: #ff8000;
    fill: #ff8000;
}
.tiebreak-color {
    color: #e6e619;
    fill: #e6e619;
}

@keyframes pid-0-song-pulse {
    0% {
        border-color:var(--pid-0-color);
    }
    50% {
        border-color:var(--pid-0-highlight);
    }
    100% {
        border-color:var(--pid-0-color);
    }
}

@keyframes pid-0-select-pulse {
    0% {
        border-left-color:var(--pid-0-color);
    }
    50% {
        border-left-color:var(--pid-0-highlight);
    }
    100% {
        border-left-color:var(--pid-0-color);
    }
}

@keyframes pid-1-song-pulse {
    0% {
        border-color:var(--pid-1-color);
    }
    50% {
        border-color:var(--pid-1-highlight);
    }
    100% {
        border-color:var(--pid-1-color);
    }
}

@keyframes pid-1-select-pulse {
    0% {
        border-right-color:var(--pid-1-color);
    }
    50% {
        border-right-color:var(--pid-1-highlight);
    }
    100% {
        border-right-color:var(--pid-1-color);
    }
}

@keyframes tiebreak-song-pulse {
    0% {
        border-color:var(--pid-0-color);
    }
    50% {
        border-color:var(--pid-0-highlight);
    }
    100% {
        border-color:var(--pid-0-color);
    }
}

@keyframes tiebreak-pulse {
    0% {
        border-color: var(--tiebreak-color);
    }
    50% {
        border-color: var(--tiebreak-highlight);
    }
    100% {
        border-color: var(--tiebreak-color);
    }
}

.player-1-highlight {
    background-color: #e91e6344;
}

.player-2-highlight {
    background-color: #03a9f444;
}

.tiebreak-lean-highlight {
    background-color: #e6e61922;
}

.tiebreak-lock-highlight {
    background-color: #e6e61944;
}

/* Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) 
@media (min-width: 992px) {
    .players {
        font-size: 28px;
    }

    .song-row {
        font-size: 14px;
    }

    svg {
        width: 21px;
        height: 21px;
    }

    .player-ban {
        text-decoration-thickness: 4.6px;
    }

    input[type='radio'] {
        transform: scale(1.25);
    }
}

/* X-Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {
    .players {
        font-size: 34px;
    }

    .song-row {
        font-size: 17px;
    }

    svg{
        width: 25.5px;
        height: 25.5px;
    }

    .player-ban {
        text-decoration-thickness: 5.6px;
    }

    input[type='radio'] {
        transform: scale(1.5);
    }
}

/* XX-Large devices (larger desktops, 1400px and up) 
@media (min-width: 1400px) {
    .players {
        font-size: 40px;
    }

    .song-row {
        font-size: 20px;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .player-ban {
        text-decoration-thickness: 6.6px;
    }

    input[type='radio'] {
        transform: scale(1.75);
    }
} */